---
import Layout from "src/components/astro/Layout.astro";
import Provincias from "src/components/react/provincias/Provincias";
---

<Layout>
  <div class="h-full w-full mt-4 px-4 md:mt-8 sm:px-12 md:36 lg:px-64 xl:px-86 flex justify-center items-center">
    <Provincias client:load/>
  </div>
</Layout>