---
import "../styles/global.css";
import Header from "./components/Header.astro";
import bgCity from 'src/assets/city-bg.jpg'
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/localicity-logo.png" />
		<meta name="generator" content={Astro.generator} />
		<title>LocaliCity</title>
	</head>
	<body>
    <div id="container" class="min-h-screen font-[Inter,Roboto,'Helvetica Neue','Arial Nova','Nimbus Sans',Arial,sans-serif]">
      <img src={bgCity.src} alt="" fetchpriority="high" class="fixed top-0 left-0 w-full h-full -z-10 blur-[5px] scale-110 object-cover "/>
    	<Header/>
		<slot />
    </div>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
