---
import Layout from '../../../layouts/Layout.astro';
import SolicitudForm from './components/SolicitudForm';
---

<Layout>
  <div class="h-full flex items-center justify-center p-4 md:py-4 md:px-46 lg:px-75">
    <div class="h-full w-full shadow-lg bg-white/50 p-10 lg:px-16 rounded-xl">
      <div class="text-center space-y-2 mb-4">
        <h2 class="text-3xl font-semibold text-gray-900">Crear solicitud</h2>
        <h4 class="text-gray-600">Envianos tu solicitud añadir nuevas localizaciones a nuestro servicio</h4>
      </div>

        <div>
          <SolicitudForm client:load />
        </div>
      </div>
    </div>
  </div>
</Layout>