---
import Layout from 'src/components/astro/Layout.astro';
import MainSearchBar from 'src/components/react/home/MainSearchBar';

---

<Layout>
  <main class="h-full flex justify-center">
    <section class="w-full flex flex-col mt-24 items-center space-y-2 md:space-y-16 md:px-86">
      <div class="w-full flex flex-col justify-center items-center space-y-6">
        <h1 class="text-3xl md:text-6xl text-center font-bold text-dark-blue drop-shadow-md">Conocé los nombres de las locaclizaciones del mundo</h1>
      
        <h2 class="text-2l md:text-3xl text-center text-gray-700 font-semibold text-light-gray-blue drop-shadow-md">Busca la localización que desees</h2>
      </div>
       
      <MainSearchBar client:load/>
    </section>
  </main>

  <style>
    @media (max-width: 768px) {
      section {
        padding-left: 1rem;
        padding-right: 1rem;
      }
      h1 {
        line-height: 1.5;
      }
    }
  </style>
</Lay>