---

import logo from "public/localicity-logo.png"
import ProfileData from "../react/header/ProfileData"
---

<header class="z-1000 top-0 sticky bg-white/97 backdrop-blur-sm border-b-1 border-gray-200 shadow-md relative">
  <div class="h-16 container mx-auto px-4">
    <div class="h-full w-full flex items-center justify-between lg:grid lg:grid-cols-3 lg:px-8 xl:px-28">
      {/* Logo */}
      <a href="/" class="flex items-center space-x-2">
        <div class="w-8 h-8 flex items-center justify-center">
          <img src={logo.src} class="cover"/>
        </div>
        <span class="text-2xl font-bold text-gray-800">LocaliCity</span>
      </a>

      {/* Navigation */}
      <nav class="h-full hidden lg:grid lg:grid-cols-3 xl:gap-x-8">
        <a href="/paises" class="flex justify-center items-center text-blue-600 hover:text-blue-800 hover:bg-gray-50 font-medium group relative duration-300 transition-all">
          Países
          <span class="absolute inset-x-0 bottom-0 h-0.75 bg-gray-300 scale-x-0 transition-transform group-hover:scale-x-100"></span>
        </a>
        <a href="/provincias" class="flex justify-center items-center text-blue-600 hover:text-blue-800 hover:bg-gray-50 font-medium group relative duration-300 transition-all">
          Provincias
          <span class="absolute inset-x-0 bottom-0 h-0.75 bg-gray-300 scale-x-0 transition-transform group-hover:scale-x-100"></span>
        </a>
        <a href="/localidades" class="flex justify-center items-center text-blue-600 hover:text-blue-800 hover:bg-gray-50 font-medium group relative duration-300 transition-all">
          Localidades
          <span class="absolute inset-x-0 bottom-0 h-0.75 bg-gray-300 scale-x-0 transition-transform group-hover:scale-x-100"></span>
        </a>
      </nav>
      
      <div class="hidden lg:flex items-center justify-end">
        <ProfileData client:load/>
      </div>


      <button id="toggle-button" name="toggle-button" ="button" class="flex lg:hidden items-center justify-end hover:text-gray-600 active:text-gray-400">
        
      </button>
    </div>
  </div>

  <div id="mobile-menu" class="hidden lg:hidden z-1000 absolute left-0 right-0 bg-white/97 backdrop-blur-sm border-b-1 border-gray-200 shadow-md rounded-b-xl">
    <ProfileData client:load/>
  </div>
</header>

<script>
  const toggleButtonElement = document.getElementById('toggle-button');
  const mobileMenuElement = document.getElementById('mobile-menu');
  const barsIcon = `
    <svg xmlns="http://www.w3.org/2000/svg" class="w-10 h-8" viewBox="0 0 24 24">
      <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 5h16M4 12h16M4 19h16" />
    </svg>`;
  const closeIcon = `
    <svg xmlns="http://www.w3.org/2000/svg" class="w-10 h-8" viewBox="0 0 24 24">
      <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 5L5 19M5 5l14 14" />
    </svg>
  `;
  let isOpen = false;

  window.onload = function() {
    if (toggleButtonElement) {
      toggleButtonElement.innerHTML = barsIcon;
    }
  };

  if (toggleButtonElement) {
    toggleButtonElement.addEventListener('click', () => {
      isOpen = !isOpen;
      toggleButtonElement.innerHTML = isOpen ? closeIcon : barsIcon;
      
      if (isOpen) {
        mobileMenuElement?.classList.remove('hidden');
      } else {
        mobileMenuElement?.classList.add('hidden');
      }
    });
  }
</script>